@charset "UTF-8";
:root {
    --font1: "Pretendard", sans-serif;
    --font2: "GmarketSans", sans-serif;
    --ifont1: "remixicon";
    --ifont2: "FontAwesome";
    --ifont3: "xeicon";

    --bg1: #fbfcff;
    --bg2: #f0f0f5;
    --bd1: #e8e9ec;
    --bd2: #a3aabf;

    /**/
    --accent: 43, 142, 255; /*#2B8EFF*/
    --primary: #3244a8;
    --rgbpri: 50, 68, 168;
    --secondary: #adb4dc;
    --rgbsec: 173, 180, 220;
    --point: #00886c;
    --rgbpo: 0, 136, 108;
    --gray: #444444;
    --primary1: #fbfbfd;
    --primary2: #f7f8fc;
    --primary3: #f3f4fa;
    --primary4: #eff0f8;
    --primary5: #ebedf6;
    --primary10: #d6daed;
    --primary20: #adb4dc;
    --primary30: #848fcb;
    --primary40: #5b69ba;
    --primary60: #283687;
    --primary70: #1e2965;
    --primary80: #141b43;
    --primary90: #0a0e21;
    --secondary1: #fdfefe;
    --secondary2: #fcfcfe;
    --secondary3: #fafbfd;
    --secondary4: #f9f9fc;
    --secondary5: #f7f8fb;
    --secondary10: #eef0f8;
    --secondary20: #dee1f1;
    --secondary30: #ced2ea;
    --secondary40: #bec3e3;
    --secondary60: #8b90b0;
    --secondary70: #686c84;
    --secondary80: #454858;
    --secondary90: #22242c;
    --point1: #fafdfc;
    --point2: #f5faf9;
    --point3: #f0f8f6;
    --point4: #ebf6f3;
    --point5: #e6f3f1;
    --point10: #cce7e2;
    --point20: #99cfc4;
    --point30: #66b8a7;
    --point40: #33a089;
    --point60: #006d56;
    --point70: #005241;
    --point80: #00362b;
    --point90: #001b16;
    --gray0: #ffffff;
    --gray1: #fdfdfd;
    --gray2: #fbfbfb;
    --gray3: #f8f8f8;
    --gray4: #f6f6f6;
    --gray5: #f4f4f4;
    --gray10: #e8e8e8;
    --gray20: #d2d2d2;
    --gray30: #bbbbbb;
    --gray40: #a5a5a5;
    --gray50: #8e8e8e;
    --gray60: #727272;
    --gray70: #555555;
    --gray80: #393939;
    --gray90: #1c1c1c;
    --gray100: #000000;
    --danger: #f80f0f;
    --warning: #ffb724;
    --success: #008a1e;
    --info: #003df0;
    --danger5: #fee7e7;
    --danger10: #fdcfcf;
    --danger60: #c70c0c;
    --warning5: #fff8ea;
    --warning10: #fff0d3;
    --warning60: #cc931d;
    --success5: #e6f3e9;
    --success10: #cce7d2;
    --success60: #006f18;
    --info5: #e6ecfd;
    --info10: #ccd8fc;
    --info60: #0031c0;
    --white: 255, 255, 255; /*#ffffff*/
    --black: 0, 0, 0; /*#000000*/

    --Red: #ee4e50;
    --Orange: #f2711c;
    --Yellow: #fce070;
    --Olive: #b5cc18;
    --Green: #21ba45;
    --Teal: #00b5ad;
    --Blue: #3c76f2;
    --Violet: #6435c9;
    --Purple: #a333c8;
    --Pink: #e03997;
    --Brown: #a5673f;
    /*--Gray:#767676;*/
    --lray: #c3c3d9;
    --bgray: #aeaec2;

    /* 각 상태별 색상 정의  */
    --mk-s00: 50, 68, 168;
    --mk-s01: 43, 142, 255;
    --mk-s02: 0, 136, 108; /* point */
    --mk-s03: 173, 180, 220; /* secondary */
    --mk-s04: 245, 179, 103; /* #F5B367 */
    --mk-s05: 164, 103, 37; /* #A46725 */
    --mk-s06: 236, 117, 99; /* #EC7563 */
    --mk-s07: 193, 90, 146; /* #C15A92 */
    
    /*radius*/
    --rd1: 0.1rem;
    --rd2: 0.2rem;
    --rd4: 0.4rem;
    --rd5: 0.5rem;
    --rd6: 0.6rem;
    --rd8: 0.8rem;
    --rd10: 1rem;
    --rd12: 1.2rem;
    --rd15: 1.5rem;
    --rd20: 2rem;
    --rd30: 3rem;
    --rdfull: 100%;

    /* font-size */
    --fz-display-s: 2.4rem;
    --fz-display-m: 3rem;
    --fz-display-l: 3.8rem;
    --fz-heading-s: 2.4rem;
    --fz-heading-m: 3rem;
    --fz-heading-l: 3.8rem;
    --fz-title-xs: 1.4rem;
    --fz-title-s: 1.6rem;
    --fz-title-m: 1.8rem;
    --fz-title-l: 2rem;
    --fz-title-xl: 2.4rem;
    --fz-title-xxl: 3rem;
    --fz-body-s: 1.4rem;
    --fz-body-m: 1.6rem;
    --fz-body-l: 1.8rem;
    --fz-body-xl: 2rem;
    --fz-link-s: 1.4rem;
    --fz-link-m: 1.6rem;
    --fz-link-l: 1.8rem;
    --fz-detail-s: 1.2rem;
    --fz-detail-m: 1.4rem;
    --fz-detail-l: 1.6rem;
    --fz-label-xs: 1.2rem;
    --fz-label-s: 1.4rem;
    --fz-label-m: 1.6rem;
    --fz-label-l: 1.8rem;
    /*padding & margin*/
    --spacer50: 20rem;
    --spacer49: 19.6rem;
    --spacer48: 19.2rem;
    --spacer47: 18.8rem;
    --spacer46: 18.4rem;
    --spacer45: 18rem;
    --spacer44: 17.6rem;
    --spacer43: 17.2rem;
    --spacer42: 16.8rem;
    --spacer41: 16.4rem;
    --spacer40: 16rem;
    --spacer39: 15.6rem;
    --spacer38: 15.2rem;
    --spacer37: 14.8rem;
    --spacer36: 14.4rem;
    --spacer35: 14rem;
    --spacer34: 13.6rem;
    --spacer33: 13.2rem;
    --spacer32: 12.8rem;
    --spacer31: 12.4rem;
    --spacer30: 12rem;
    --spacer29: 11.6rem;
    --spacer28: 11.2rem;
    --spacer27: 10.8rem;
    --spacer26: 10.4rem;
    --spacer25: 10rem;
    --spacer24: 9.6rem;
    --spacer23: 9.2rem;
    --spacer22: 8.8rem;
    --spacer21: 8.4rem;
    --spacer20: 8rem;
    --spacer19: 7.6rem;
    --spacer18: 7.2rem;
    --spacer17: 6.8rem;
    --spacer16: 6.4rem;
    --spacer15: 6rem;
    --spacer14: 5.6rem;
    --spacer13: 5.2rem;
    --spacer12: 4.8rem;
    --spacer11: 4.4rem;
    --spacer10: 4rem;
    --spacer9: 3.6rem;
    --spacer8: 3.2rem;
    --spacer7: 2.8rem;
    --spacer6: 2.4rem;
    --spacer5: 2rem;
    --spacer4: 1.6rem;
    --spacer3: 1.2rem;
    --spacer2: 0.8rem;
    --spacer1: 0.4rem;
    --spacer0: 0;
    --spacerde: 0.1rem;
    --spacerde2: 0.2rem;
    --spacerfull: 100%;

    --rdo-sz-s: 1.6rem;
    --rdo-sz-m: 2rem;
    --rdo-sz-l: 2.4rem;
    --rdo-pd-s: 0.8rem;
    --rdo-pd-m: 1rem;
    --rdo-pd-l: 1.4rem;
    --rdo-fz-s: 1.5rem;
    --rdo-fz-m: 1.7rem;
    --rdo-fz-l: 1.9rem;
    --fm-h-s: 4rem;
    --fm-h-m: 4.8rem;
    --fm-h-l: 5.2rem;
    --fm-h-xl: 6rem;
    --fm-pd-s: 1rem;
    --fm-pd-m: 1.2rem;
    --fm-pd-l: 1.6rem;
    --fm-pd-xl: 2rem;
    --fm-rd-s: 0.6rem;
    --fm-rd-m: 0.8rem;
    --fm-rd-l: 0.8rem;
    --fm-rd-xl: 1.2rem;
    --fm-fz-s: 1.5rem;
    --fm-fz-m: 1.7rem;
    --fm-fz-l: 1.7rem;
    --fm-fz-xl: 1.9rem;
    --bt-h-xs: 3.2rem;
    --bt-h-s: 4rem;
    --bt-h-m: 4.8rem;
    --bt-h-l: 5.6rem;
    --bt-h-xl: 6.4rem;
    --bt-pd-xs: 1rem;
    --bt-pd-s: 1.2rem;
    --bt-pd-m: 1.6rem;
    --bt-pd-l: 2rem;
    --bt-pd-xl: 2.4rem;
    --bt-rd-xs: 0.6rem;
    --bt-rd-s: 0.6rem;
    --bt-rd-m: 0.8rem;
    --bt-rd-l: 0.8rem;
    --bt-rd-xl: 0.8rem;
    --bt-fz-xs: 1.5rem;
    --bt-fz-s: 1.7rem;
    --bt-fz-m: 1.7rem;
    --bt-fz-l: 1.9rem;
    --bt-fz-xl: 1.9rem;
    --sw-h-m: 2rem;
    --sw-h-l: 2.4rem;
    --sw-w-m: 3.2rem;
    --sw-w-l: 4rem;
    --sw-b-m: 1.6rem;
    --sw-b-l: 2rem;
    --sw-br-m: 0.2rem;
    --sw-br-l: 0.2rem;
    --sw-pd-m: 0.8rem;
    --sw-pd-l: 0.8rem;
    --sw-rd-m: 4rem;
    --sw-rd-l: 4rem;
    --sw-fz-m: 1.7rem;
    --sw-fz-l: 1.9rem;
    --tab-h-s: 5.6rem;
    --tab-h-m: 6.4rem;
    --tab-h-l: 7.2rem;
    --tab-h-xl: 8.2rem;
    --tab-br-s: 2.8rem;
    --tab-br-m: 3.2rem;
    --tab-br-l: 3.6rem;
    --tab-br-xl: 4.1rem;
    /* table */
    --tbl-bdr: #d8d8d8; /* gray 30 */
    --tbl-th: #f9fafb; /* = --basic-bg */
    --form-tbl-hover-bg: #f5f8ff;
}
